.quizButton {
  :global(.btn) {
    border: 1px solid #ffffff;
    color: #4d4d4d;
    background: linear-gradient(#c1c8f0 0%, #eaedfa 100%);
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    &.unselected {
        background: linear-gradient(#c1c8f0 0%, #eaedfa 100%);
    }
    &.selected {
        background: linear-gradient(#FFD900 0%, #FFBB00 100%);
    }
  }
}
