

.range {
  :global(.display-input) {
    max-width: 620px;
    width: 100%;
    height: 81px;
    background: linear-gradient(#ffffff 0%, #eaedfa 100%);
    color: #4d4d4d;
    font-size: 48px;
    text-align: center;
    margin: 1rem !important;
    border-radius: 10px;
  }
  :global(form) {
    width: 650px;
  }
  .roundbutton {
    background: linear-gradient(#c1c8f0 0%, #eaedfa 100%);
    width: 59px;
    height: 59px;
    font-size: 14px;
    color: #959cc3;
    border-radius: 30px;
  }
  :global(.form-select) {
    background-color: #ffffff !important;
    color: #4d4d4d;
    width: 160px;
    height: 80px;
    font-size: 18px;
    border-radius: 10px;
    background: url('../../images/arrow-down.png');
    background-repeat: no-repeat;
    background-position: right 0.75rem center !important;

  }
  :global(.dropdown-item) {
    text-align: center;
  }
  :global(.range-slider__wrap) {
    width: 75%;
    div:first-child {
      display: none !important;
    }
  }
  :global(.form-control) {
    height: 81px;
    border-radius: 10px;
  }
  :global(.form-range) {
    width: 100%;
    height: 1.5rem;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  :global(input[type="range" i]) {
    max-width: 529px;
    width: 96%;
    height: 14px;
    appearance: none;
    border-radius: 10px;
    background: linear-gradient(#959cc3 0%, #ced3eb 100%);
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 41px;
    width: 41px;
    border-radius: 25px;
    background: linear-gradient(#FFBB00 0%, #F3B200 100%);
    cursor: pointer;
  }
  :global(select) {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 10px;
    text-shadow: none;
    text-align: start;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
  }
}

@media (max-width: 992px) { 
  :global(input[type="range" i]) {
    width: 94% !important;
  }
}

@media (max-width: 575.98px) { 
  :global(.range-slider__wrap) {
    width: 55% !important;
  }
  :global(input[type="range" i]) {
    width: 80% !important;
  }
}
