.quizButton {
  :global(.btn) {
    border: 1px solid #ffffff;
    color: #4d4d4d;
    background: linear-gradient(#c1c8f0 0%, #eaedfa 100%);
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    max-width: 512px;
    width: 100%;
    &.unselected {
      background: linear-gradient(#c1c8f0 0%, #eaedfa 100%);
    }
    &.selected {
      background: linear-gradient(#ffd900 0%, #ffbb00 100%);
      border: none;
    }
    &.incorrect {
      background: #ff6666;
      border: none;
    }
  }
}
