.gameCard {
    background-color: #79c523;
    height: 120px;
    width: 120px;
    border-radius: 10px;
    &.unselected {
      border: none;
    }
    &.selected {
      border: 5px solid #79c523;
    }
  }
  
  @media (max-width: 575.98px) {
    .gameCard {
      height: 105.85px;
      width: 105.85px;
    }
  }